* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.el-input {
  margin: 0 0 15px 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
  text-align: left;
}

p {
  padding: 0 0 0 15px;
  margin: 0;
}

h1 {
  padding: 0 0 0 15px;
}